@font-face {
    font-family: "Norse Bold";
    src: url("/fonts/Norsebold.otf");
}

body {
    background-color: lightgray;
}

.container {
    display: grid;

}

.pageTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title {
    font-family: "Norse Bold";
    font-size: 50px;
    font-weight: bold;
}
.addButton, .addButtons {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
}

.closebutton, .deleteButton {
    background-color: #ff2626;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    border-radius: 20px;
}

.readStatus {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
}

.bookDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 250px));
    gap: 10px;

}

p {
    margin: 5px;
    padding: 5px;
}

.bookCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    border-left: limegreen solid 8px;
    padding: 10px;
}

#bookModal {
    border-radius: 20px;
}